# Ignore node_modules directory (will be created in the image)
node_modules

# Ignore logs
*.log

# Ignore environment varible files
.env

# Ignore temporary files and directories
.DS_Store
*.tmp
*.temp
tmp/
temp/

# Ignore version control files
.git
.gitignore

# Ignore documentation and configuration files
README.md
Dockerfile
.prettiertc
docker-compose.yml
eslint.config.mjs
compose.yaml

# Ignore IDE or editor specific files
.vscode/
.idea/
*.swp

# Ignore build artifacts
dist/
build/
generated
coverage/

# Ignore other files that are not needed in the image
*.md


bruno
